<div class="contact__item d-md-none">
  <div class="contact__zalo">
    <a href="tel:0559439469">
      <img
        src="./assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item d-none d-md-block">
  <div class="contact__zalo">
    <a href="https://zaloapp.com/qr/p/1b4qvt9go74i8">
      <img
        src="./assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item">
  <div class="contact__massage">
    <a href="https://m.me/61555703468991">
      <img
        src="./assets/image/icon/message-face.svg"
        alt="messages-facebook"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item">
  <div class="contact__phone">
    <a href="tel:0559439469">
      <img src="./assets/image/icon/phone.svg" alt="" class="contact__icon" />
    </a>
  </div>
</div>
