<div class="container">
  <div class="footer__inner">
    <div class="row gy-lg-3">
      <div class="col-4 col-lg-12">
        <div class="footer__logo">
          <div class="footer__logo-inner">
            <div class="footer__logo-icon-wrap">
              <img
                src="./assets/image/icon/logo.png"
                alt="logo icon"
                class="footer__logo-icon"
              />
            </div>
            <h2 class="footer__logo-name">ĐATXENHANH247</h2>
          </div>
        </div>
        <p class="footer__desc">
          Di chuyển siêu nhanh siêu tiện lợi và an toàn
        </p>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">
            Công Ty Vận Tải Nhanh Vĩnh Cửu
          </li>
          <li class="footer__item">
            <a href="https://maps.app.goo.gl/K3cks45Sh5iv3WsMA"
              >Địa chỉ:DT767 Vĩnh Tân,Vĩnh Cửu,ĐN</a
            >
          </li>
          <li class="footer__item">
            <a href="mailto:taonhung298@gmail.com"
              >Email:taonhung298@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a href="tel:0559439479">Phone:0559 439 479</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">LIÊN KẾT NHANH</li>
          <li class="footer__item"><a href="#!">Bài viết nổi bật</a></li>
          <li class="footer__item"><a href="#!">Chính sách bảo mật</a></li>
          <li class="footer__item"><a href="#!">Về chúng tôi</a></li>
        </ul>
      </div>
    </div>
    <div class="coppyright">
      <p>© 2010 - 2025 datxenhanht247 . All rights reserved.</p>
    </div>
  </div>
</div>
